***TNP Assignment***

**Name:- govind patidar**<br>
**Enrollment:-0176CD231065**<br>
**Batch- 5(MTF)**<br>
**Batch Time:-10:30am**

**1)WAP to check whether a number is positive, negative, or zero.**

In [16]:
num1=int(input("Enter a number"))
if num1>0:
    print("number is positive.")
else:
    if num1<0:
        print("number is negative.")
    else:
        print("number is zero.")

Enter a number 2

number is positive.

**2)WAP to check whether a number is even or odd.**

In [21]:
num2=int(input("enter a number."))
if num2 % 2 == 0:
    print("number is even.")
else:
    print("number is odd.")

enter a number. 3

number is odd.

**3)WAP to check if a given year is a leap year or not.**

In [28]:
year=int(input("enter a year"))
if year % 4== 0:
    print(year,"year is a leap year")
else:
    print(year,"year is not leap year.")

enter a year 2022

2022 year is not leap year.

**4)WAP to find the greatest of two numbers.**

In [45]:
num1= int(input("enter a number:"))
num2=int(input("enter a second number:"))
if num1>num2:
    print("num1 is greater")
else:
    if num2>num1:
       print("num2 is greater")
    else:
        print("both numbers are same")

enter a number: 3
enter a second number: 5

num2 is greater

**5)WAP to check whether a person is eligible to vote (age >= 18).**

In [49]:
age=int(input("enter the age:"))
if age>=18:
    print("person is eligible to vote.")
else:
    print("not eligible to vote (pahle 18+ hojaye)")

enter the age: 12

not eligible to vote (pahle 18+ hojaye)

**6)WAP to check whether a given character is a vowel or consonant.**

In [54]:
al=input("enter a alphabet").lower()
if al in['a','e','i','o','u']:
    print("alphabet is vowel")
else:
    print("alphabet is consonant")

enter a alphabet b

alphabet is consonant

**7)WAP to check if a number is divisible by 5.**

In [61]:
no=int(input("enter a number."))
if no%5==0:
    print(no,"is divisible by 5")
else:
    print(no,"is not divisible by 5.")

enter a number. 10

10 is divisible by 5

**8)WAP to determine whether a given number is a single-digit, two-digit, or more than two-digit number.**

In [2]:
num = int(input("Enter a number"))

if -9 <= num <= 9:
    print("Single digit number")
else:
    if -99 <= num <= 99:
        print("Two digit number")
    else:
        print("More than two digit number/")

Enter a number 88

Two digit number

**9)WAP to check whether a student has passed or failed (passing marks = 40).**

In [5]:
marks=int(input("Enter marks"))

if marks >= 40:
    print("Pass")
else:
    print("Fail")

Enter marks 39

Fail

**10)WAP to find whether the entered number is a multiple of both 3 and 7.**

In [10]:
num = int(input("Enter a number: "))

if num % 3 == 0:
    if num % 7 == 0:
        print(num, "is a multiple of both 3 and 7")
    else:
        print(num, "is not a multiple of both 3 and 7")
else:
    print(num, "is not a multiple of both 3 and 7")

Enter a number:  21

21 is a multiple of both 3 and 7

**Ladder If & Nested If:**

**1)WAP to find the greatest among three numbers.**

In [4]:
num1 = int(input("Enter first number: "))
num2= int(input("Enter second number: "))
num3= int(input("Enter third number: "))

if num1 >= num2 and num1 >= num3:
    print("Greatest number is:", num1)
elif num2 >= num1 and num2>= num3:
    print("Greatest number is:", num2)
else:
    print("Greatest number is:", num3)

Enter first number:  3
Enter second number:  1
Enter third number:  0

Greatest number is: 3

**2)WAP to classify a person based on age: Child (<13), Teenager (13-19), Adult (20-59), Senior (60+).**

In [ ]:
age= int(input("Enter age"))

if age< 13:
    print("Child")
elif age <= 19:
    print("Teenager")
elif age <= 59:
    print("Adult")
else:
    print("Senior")

**3)WAPto assign grades based on marks:**

**90-100: A,**
**75-89: B,**
**50-74: C,**
**35-49: D,**
**<35: Fail.**

In [4]:
marks= int(input("Enter marks: "))
if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
elif marks >= 35:
    print("Grade: D")
else:
    print("Grade: Fail")

Enter marks:  65

Grade: C

**4)WAP to check the type of triangle (equilateral, isosceles, or scalene) based on sides.**

In [7]:
a = int(input("Enter side 1"))
b = int(input("Enter side 2"))
c = int(input("Enter side 3"))
if a == b and b == c:
    print("Equilateral Triangle")
elif a == b or b == c or a == c:
    print("Isosceles Triangle")
else:
    print("Scalene Triangle")

Enter side 1 5
Enter side 2 6
Enter side 3 7

Scalene Triangle

**5)WAP to check if a character is uppercase, lowercase, digit, or special symbol.**

In [10]:
ch = input("Enter a character")
if ch.isupper():
    print("Uppercase letter")
elif ch.islower():
    print("Lowercase letter")
elif ch.isdigit():
    print("Digit")
else:
    print("Special symbol")

Enter a character A

Uppercase letter

**6)WAP to calculate electricity bill based on units:
Up to 100 units: ₹5 per unit,
101–200 units: ₹7 per unit,
Above 200 units: ₹10 per unit.**

In [14]:
units= int(input("Enter number of units"))
if units <= 100:
    bill = units*5
elif units <= 200:
    bill = (100*5) + (units-100)* 7
else:
    bill = (100*5) +(100*7) + (units-200)* 10
print("Electricity Bill", bill)

Enter number of units 102

Electricity Bill = ₹ 514

**7)WAP to determine the largest of four numbers using nested if.**

In [17]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
c = int(input("Enter third number"))
d = int(input("Enter fourth number"))
if a > b:
    if a > c:
        if a > d:
            largest = a
        else:
            largest = d
    else:
        if c > d:
            largest = c
        else:
            largest = d
else:
    if b > c:
        if b > d:
            largest = b
        else:
            largest = d
    else:
        if c > d:
            largest = c
        else:
            largest = d

print("Largest number is", largest)

Enter first number 4
Enter second number 5
Enter third number 6
Enter fourth number 7

Largest number is 7

**8)WAP to check if a given year is a century year and also a leap year.**

In [22]:
year = int(input("Enter year-"))
if year % 100==0:
    print("It is a Century Year")
    if year % 400== 0:
        print("Also a leap year")
    else:
        print("Not a leap year")
else:
    print("Not a century year")
    if year % 4 == 0:
        print("It is a leap year")
    else:
        print("Not a leap year")

Enter year- 2000

It is a Century Year
Also a leap year

**9)WAP to classify BMI value: Underweight (<18.5), Normal (18.5-24.9), Overweight (25-29.9), Obese (30+).**

In [25]:
bmi = float(input("Enter BMI value"))
if bmi < 18.5:
    print("Underweight")
elif bmi <= 24.9:
    print("Normal")
elif bmi <= 29.9:
    print("Overweight")
else:
    print("Obese")

Enter BMI value 28

Overweight

**10)WAP to display the smallest number among three using nested if.**

In [31]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
c = int(input("Enter third number"))
if a < b:
    if a < c:
        smallest = a
    else:
        smallest = c
else:
    if b < c:
        smallest = b
    else:
        smallest = c
print("Smallest number is", smallest)

Enter first number 4
Enter second number 5
Enter third number 6

Smallest number is 4

**For Loop problem**

**1)WAP using a for loop to print all Armstrong numbers between 100 and 999.**

In [36]:
print("Armstrong numbers between 100 and 999 are:")
for num in range(100, 1000):
    d1 = num // 100        
    d2 = (num // 10) % 10  
    d3 = num % 10  
    if (d1**3 + d2**3 + d3**3) == num:
        print(num)

Armstrong numbers between 100 and 999 are:
153
370
371
407

**2)WAP to generate and display the first n prime numbers using a for loop.**

In [1]:
n = int(input("Enter VALUE OF n"))
count = 0
num = 2
for num in range(2, 10000):  
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")
        count += 1
    if count == n:
        break

Enter VALUE OF n 12

2 3 5 7 11 13 17 19 23 29 31 37

**3)WAP to display all numbers from 1 to 500 that are divisible by 3, but the sum of their digits should not exceed 10.**

In [45]:
for num in range(1, 501):
    if num % 3 == 0:
        digit_sum = sum(int(d) for d in str(num))
        if digit_sum <= 10:
            print(num, end=" ")

3 6 9 12 15 18 21 24 27 30 33 36 42 45 51 54 60 63 72 81 90 102 105 108 111 114 117 120 123 126 132 135 141 144 150 153 162 171 180 201 204 207 210 213 216 222 225 231 234 240 243 252 261 270 300 303 306 312 315 321 324 330 333 342 351 360 402 405 411 414 420 423 432 441 450

**4)WPA using a for loop to print a pyramid of stars (*) of height n.**

In [73]:
n = int(input("Enter pyramid height: "))
for i in range(1, n+1):
    for j in range(n-i):
        print(" ", end="")
    for k in range(2*i-1):
        print("*", end="")
    print()

Enter pyramid height:  5

    *
   ***
  *****
 *******
*********

**9)WAP using a for loop to display the sum of the series:
12 + 22 + 32 + ... + n2**

In [81]:
n = int(input("Enter n: "))
total = 0
for i in range(1, n+1):
    total += i*i
print("Sum of series =", total)

Enter n- 5

Sum of series= 55

**While Loop Problems:**

**12)Wap that continues to accept numbers from the user until the sum of digits of all numbers
entered becomes greater than 100.**

In [3]:
num = int(input("Enter a number: "))
n = num
i = 2  
largest_prime = 1
while i <= n:
    if n % i == 0:
        largest_prime = i
        n = n // i  
    else:
        i += 1
print(f"The largest prime factor of {num} is {largest_prime}")

Enter a number:  33

The largest prime factor of 33 is 11